
.header{
color: antiquewhite;
font-family: algerian;
}
.img2{
    width: 50px;
}

#img1{
    width:400px;
    
}

.color_white{
    color:white;
}


.room_name
{
	cursor: pointer;
	font-size: 20px;
}

#output
{
	padding: 10px;
    width:80%;
    background: rgba(255,255,255,0.8);
    border-radius: 15px;
    
}

